/* The page wrapper */
#wrapper{
	width: 100%;
}

#innerWrapper{
	margin: auto;
}

/* container for the images */
.gridBox{
	position: relative;
	float:left;
	max-width : 100%;
	min-width : 100px;
	background-color: #a0a0a0;
	padding-top: 15px;
	padding-bottom: 25px;
	padding-left: 5px;
	padding-right:5px;

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top left, #999999 0%, #5C5959 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #999999 0%, #5C5959 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top left, #999999 0%, #5C5959 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #999999), color-stop(1, #5C5959));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #999999 0%, #5C5959 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom right, #999999 0%, #5C5959 100%);

	margin: 2px;
	
	border-radius: 15px;
	overflow: hidden;
	text-align: center;

}

/* image in container */
 .cameraImage{

	max-width:100%;
	max-height:100%;
	vertical-align: middle;
	border: none;
	box-shadow: 5px 5px 5px #333;
}


/* timer for the image */
.gridBox .imageTimer{
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	color: white;
	background-color: black;
	line-height: 20px;

}

/* image overlay text */
.gridBox .imageOverlay{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	color: white;
	text-align: center;
	background-color: black;
	line-height: 20px;
}

/* message that appears when stale */
.stale{
	display:none;
	position: absolute;
	z-index: 100;
	top: 0px;
	right: 10px;
	color: red;
	background-color: rgba(0, 0, 0, 0.75);
	line-height: 20px;
}

/* fullscreen button container */
.expandButton{

	display: none;
	font-size: 2em;
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
	background-color: rgba(50,50,50, 0.55);
	line-height: normal;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;


}

/* effect when hovering over fullscreen button */
.expandButton:hover{

	background-color: rgba(150,150,187, 1);

}

/* container for fullscreened image */
.fullscreen{
	
	position: fixed;
	width:100%;
	height: 100%;
	z-index: 200;

	background-color: #a0a0a0;


	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top left, #999999 0%, #5C5959 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #999999 0%, #5C5959 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top left, #999999 0%, #5C5959 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #999999), color-stop(1, #5C5959));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #999999 0%, #5C5959 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom right, #999999 0%, #5C5959 100%);

	margin: 2px;
	
	border-radius: 15px;
	text-align: center;

}

/* generate_settings text that says required for require parameters */
.required{
	color: red;
	font-size: .7em;

}

/* generate_settings example font size */
.example{
	font-size: .7em;
}

/* table in generate_settings */
#info table{

	border-collapse: collapse;

}
/* cells in table in generate_settings */
#info th, #info td{

	border: solid 1px gray;
	padding: 5px;

}

/* info div to appear when debug is true */
.debugTip{


	position: absolute;
	top: 20px;
	left: 0px;
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
	color:white;
	background-color: orange;
	line-height: normal;

}

/* bsae64 images of the fullscreen expand and contract images */
.imageFullscreenContract{

width: 33px;
height: 33px;
background-repeat: no-repeat;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhCAYAAABX5MJvAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAACbAAAAmwByAA4aQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADeSURBVFiF7Zc9CgJBDEa/6IJX8Da2egJthLXwDjbOkLHxDhYKNnoCbb2NR9BCYuOwsLLMDyhT5JUfSeZBijAkIgjBzGOALk1CC2vXh++6TQ3IvklkYq29hub3ggZ/QCU8KuFRCU8REhWzO4XLaJg3nlbMrg5KAJjmPRDFKKaojHUAeKY2EcmrKxfJmBdzwH5NEetQCY9KeIqQqJjdI7WJCEtjzLGdO+fmItglSwAYpDaJUL87l+R5ZawDwDmibojIY9TiBuAelLDWzEJFn39HhoRs9d+Rgkp4VMKjEp43vh44PmsH+d4AAAAASUVORK5CYII=);

}

.imageFullscreenExpand{
width: 33px;
height: 33px;
background-repeat: no-repeat;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhCAYAAABX5MJvAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAACbAAAAmwByAA4aQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAD0SURBVFiF7ZdLCsIwEIb/lKLX6MJjCN5CXfkAr6Hj1GsIPlbqKRQ8hoseQ10YVyNppJhqK1nk203C5P9gCmXUfM4apVFjounaPmVejAC9KvtaVF6geryQiK06A3D63Pa4FJ+rjUNuB0AihbK+iT3RrO/wyE8wpzsAPam9GEeQEIKEECSEGMDNqO9/yr2buUrrL/5fFePFOIKEECQELyRi5vRq1Aei2aDuUOZ0C6D7kgDQNO4bdQsYOa9cL8YRJIQgIQQJwV5+MjhtYHpJRGf7lJnbgJo45OY2MHsNTMzLYqIjgDcJIGoBeuggke8q21AHXkg8ASOJMuKc7Mq4AAAAAElFTkSuQmCC);
}

